body {
  box-sizing: border-box;
  background-color: #0a0a0a;
}
* {
  box-sizing: border-box;
}
.display-flex {
  display: flex;
}
.column{
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.center {
  align-items: center;
  justify-content: center;
}
.padding-16 {
  padding: 1rem;
}

.color-white {
  color: white;
}
.header-name {
  font-weight: 700px;
  font-size: 20px;
  line-height: 24px;
}
.p-logo {
  width: 23.15px;
  height: 34.73px;
}
.li-logo {
  width: 27px;
  height: 13px;
}
.image-container {
  display: none;
  color: white;
}
.gap-20{
  gap: 1.3rem;
}
.container {
  width: 100%;
  padding-inline: 30px;
}
.my-picture {
  width: 50%;
  object-fit: cover;
  background-color: #c7c7c7;
  border-radius: 16px;
}
.header-title {
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
}
.my-name {
  font-weight: 400px;
  font-size: 4rem;
  color:white
}

.contact-icon {
  width: 2rem;
  height: 2rem;
}

.section1 {
  display: flex;
  flex-direction: row;
  flex: wrap;
}
.introduction {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  margin-right:5%;
}
.contact-me {
  color:#0a0a0a;
  background-color: #d3e97a;
  border-radius: 100px;
  padding: 10px 20px;
}
.about-me{
  display:block
}
.width1{
  width: 100px;
}
p{
  color:#c7c7c7;
  font-weight: 400;
  font-size:1.1rem;
  
}
.hr100{
  width: 100%;
  border-top: 1px solid #484848
}
h3{
  color:#fff;
  font-weight: 500;
  font-size: 1.7rem;
}
.absolute{
  position:absolute;
  bottom:0;
}
/* footer */

.resume-logo {
  width: 1.7rem;
  height: 1.7rem;
}
input {
  background-color: #1a1a1a;
}
 hr{
  width: 100vw;
  padding:0
 }
  .w50{
    width: 50%;
  }
  .w45{
    width: 45%;
  }
  .h50{
    height: 50%;
  }
.relative{
  position: relative;
}
.absolute{
  position:absolute;
  bottom: 0;
}
.margin-top{
 margin-top:8%;
}
.c-work{
  position: absolute;
  top:0;
  left:0;
  z-index: 3;
  font-size: 0.8rem;
  font-weight: 500;
  color:white;
  padding : 1%;
  background-color: #0a0a0a;
  margin-top:3%;
  margin-left:3%;
  text-align: center;
  border-radius: 20px;
}
a{
  color:#d3e97a;
  font-weight: 700;
  font-size: 1rem;
}
.a-logo{
  width: 0.8rem;
  height: 0.8rem;
}

.mobile-img{
  display:none;
  border-radius: 5%;
  background-color: #1a1a1a
}
.note-img{
  display:block;
  width: 50%;
  background-color: #1a1a1a;
  border-radius: 5%;
}
.project-info{
  font-weight: 600;
  font-size: 1rem;
  color:#fff;
}
.project-type{
  font-weight: 500;
  font-size: 1rem;
  color:#fff;
}
.main-imgs{
  width: 50%;
  height: 100%;
  background-color: #1a1a1a;
  border-radius: 5%;
}
@media screen and (max-width: 600px) {
  .header-title {
    display: none;
  }

  .image-container {
    display: flex;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    flex: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
  }
  .my-picture {
    width: 100%;
    
  }
  .introduction {
    width: 100%;
    margin-bottom:10%;
  }
  .my-name {
    font-size: 2.5rem;
  }
  .about-me{
    display:none
  }
  .w50{
    width: 100%;
  }
  .w45{
      width: 100%;
  }
  .mobile-img{
    width: 100%;
    display: block;
  }
  .note-img{
    display:none;
  }
  .main-imgs{
    width: 100%;
  }
  .absolute{
    bottom:-12%;
    left: 0;
  }

}

/* @media screen and (min-width: 600px) and (max-width: 1223px) {
  body {
    background-color: gold;
  }
  .my-picture {
    width: 40%;
    
  }
  .introduction {
    width: 60%
  }
  .my-name {
    font-size: 4rem;
  }
} */


