body {
  box-sizing: border-box;
  background-color: #0a0a0a;
}
* {
  box-sizing: border-box;
}
.display-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.center {
  align-items: center;
  justify-content: center;
}
.padding-16 {
  padding: 16px;
}
header {
  border: 4px solid red;
}

.color-white {
  color: white;
}
.header-name {
  font-weight: 700px;
  font-size: 20px;
  line-height: 24px;
}
.p-logo {
  width: 23.15px;
  height: 34.73px;
}
.li-logo {
  width: 27px;
  height: 13px;
}
.image-container {
  display: none;
  color: white;
}
.gap-20 {
  gap: 20px;
}
.container {
  width: 100%;
  padding-inline: 50px;
}
.my-picture {
  width: 50%;
  object-fit: cover;
  background-color: #c7c7c7;
  border-radius: 16px;
}
.header-title {
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
}
.my-name {
  font-weight: 400px;
  font-size: 5.5rem;
}
.contact {
  font-weight: 700px;
  font-size: 16px;
  line-height: 16px;
  width: 60%;
}
.contact-icon {
  width: 2rem;
  height: 2rem;
}

.section1 {
  display: flex;
  flex-direction: row;
  flex: wrap;
}
.introduction {
width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.contact-me {
  background-color: #d3e97a;
  border-radius: 100px;
  padding: 10px 20px;
}
/* footer */

.resume-logo {
  width: 2rem;
  height: 2rem;
}
input {
  background-color: #1a1a1a;
}
main {
    border: 4px solid blue;
  }
  footer {
    border: 4px solid white;
  }
@media screen and (max-width: 600px) {
  .header-title {
    display: none;
  }

  .image-container {
    display: flex;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    flex: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
  }
  .my-picture {
    width: 100%;
    
  }
  .introduction {
    width: 100%;
  }
  .my-name {
    font-size: 3rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1223px) {
  body {
    background-color: gold;
  }
  .my-picture {
    width: 40%;
    
  }
  .introduction {
    width: 60%
  }
  .my-name {
    font-size: 4rem;
  }
}


